# Database
db.sqlite3
db.sqlite3.backup

# Environment variables
.env

# text files
Superuser_Details.txt
Gemini_API_Key_NeuraQuiz.txt

#pycache
__pycache__/
*.pycquiz/management/commands/createsu.py
